label {
  font-size: 2em;
  font-weight: bold;
}

body {
  background: #dfcc91;
}

.center {
  margin: center;
  text-align: center;
}

.top {
  padding-top: 25px;
}

.italic {
  font-style: italic;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #dfcc91;
   color: white;
   text-align: center;
}

.idk {
  font-size:2vw;
  text-transform:uppercase;
  letter-spacing:.3em;
  display:flex;
  align-items:center;
  justify-content:center;
  padding-top: 20px;
  margin-bottom:64px;
}

.headerStyle {
  font-size:calc(2em + 1vw);
  padding:32px;
  color:#dfcc91;
  background-color:#9b3c42;
  transition-property:color, background-color;
  transition-timing-function:ease-out;
  transition-duration:1s, .5s;
}

.otherStyle {
  font-size:calc(2em + 1vw);
  padding:32px;
}

/* .style {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 32px;
    transition-property: color, background-color;
    transition-timing-function: ease-out;
    transition-duration: 1s, .5s;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    color: #424c5e;
    background-color: #beb6a8;
} */

/* .fontStyle {
    font-size: calc(2em + 1vw);
    padding: 32px;
    color: #7ecc8c;
    background-color: #863378;
    transition-property: color, background-color;
    transition-timing-function: ease-out;
    transition-duration: 1s, .5s;
} */
